/web-ui/node_modules/*
/web-ui/build/*
/web-ui/.eslintcache
/web-ui/package-lock.json

/web-ui/.DS_Store
/web-ui/.env.local
/web-ui/.env.development.local
/web-ui/.env.test.local
/web-ui/.env.production.local

package-lock.json
/node_modules/*
/public/*
.env